@charset "UTF-8";
.node--activity {
  display: flex;
  font-size: 1.2rem;
  line-height: 1.2;
  color: #999;
  position: relative;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
  overflow: hidden;
}
.node--activity .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: blur(32px);
  z-index: 1;
}
.node--activity .mask {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
}
.node--activity .thumbnail {
  width: 7rem;
  height: 9.8rem;
  border-radius: 4px;
  margin-right: 2rem;
  position: relative;
  z-index: 10;
  border-radius: 4px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.node--activity .thumbnail .thumbnail__tag {
  position: absolute;
  top: -5px;
  left: 8px;
  color: #fff;
  padding: 4px 6px;
/*  background: url(~static/activity/discount.png) no-repeat center top;*/
  background-size: 4rem 4rem;
  border-radius: 0 0 4px 4px;
  font-size: 1rem;
}
.node--activity .thumbnail .thumbnail__tag span {
  display: block;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.node--activity .thumbnail .thumbnail__hot {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px;
  color: #fff;
  font-size: 1rem;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.node--activity .thumbnail .thumbnail__hot span {
  font-size: 1.6rem;
}
.node--activity .main {
  flex: 1;
  position: relative;
  z-index: 10;
}
.node--activity .title {
  color: #333;
  font-size: 1.4rem;
  line-height: 1.2;
  max-height: 2.4em;
  overflow: hidden;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}
.node--activity .date {
  margin: 0 0 0.5rem 0;
}
.node--activity .venue {
  margin: 0 0 0.5rem 0;
}
.node--activity .tags .item {
  display: inline-block;
  margin: 0 1rem 0.5rem 0;
}
.node--activity .tags .i {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-right: 0.5rem;
}
.node--activity .tags .flash {
/*  background-image: url(~static/icons/flash@2x.png);*/
}
.node--activity .tags .seat {
/*  background-image: url(~static/icons/seat@2x.png);*/
}
.node--activity .price {
  color: #ff5400;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.node--activity .price .sub {
  font-size: 1rem;
  font-weight: normal;
  display: inline-block;
}
.node--activity .price .status {
  font-size: 1rem;
  color: #ff5400;
  border: 1px solid #ff5400;
  border-radius: 4px;
  padding: 2px 4px;
  opacity: 0.5;
  font-weight: normal;
}
.node--activity .quote:before {
  content: "“";
}
.node--activity .quote:after {
  content: "”";
}
.node--activity.vertical {
  width: 10rem;
  border: none;
  padding: 0;
  margin: 0;
  overflow: visible;
  flex-direction: column;
}
.node--activity.vertical .thumbnail {
  width: 100%;
  height: 14rem;
  margin: 0 0 0.5rem 0;
  border-radius: 4px;
}
.node--activity.vertical .title {
  font-weight: normal;
  font-size: 1.2rem;
}
.node--activity.vertical .price {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.node--activity.vertical .date {
  color: #999;
  font-size: 1rem;
}
.node--activity.primary {
  width: 100%;
  padding: 1rem;
  color: #fff;
  border-radius: 4px;
}
.node--activity.primary .title {
  color: #fff;
  font-size: 1.6rem;
  height: 2.4em;
  overflow: hidden;
}
.node--activity.primary .price {
  font-size: 1.4rem;
  font-weight: normal;
  color: #fff;
}
.node--activity.primary .date {
  margin-bottom: 1rem;
}
.node--activity.primary .quote {
  font-size: 1.4rem;
  min-height: 2.4em;
  margin-bottom: 1rem;
}
.node--activity.primary .quote:before, .node--activity.primary .quote:after {
  display: none;
}
.node--activity.primary .thumbnail {
  width: 10rem;
  height: 14rem;
}