.calendar {
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .controls {
        display: flex;
        align-items: center;
        padding: 1rem 1.6rem;
        margin-bottom: 1rem;
        .prev {
            flex: 0 0 2rem;
        }
        .next {
            flex: 0 0 2rem;
        }
        .title {
            flex: 1;
            font-size: 1.6rem;
        }
    }
    .weekdays {
        margin: 1rem 0;
        .i {
            display: table-cell;
            width: 1%;
        }
    }
    .days {
        overflow: hidden;
        margin: 1rem 0;
        .group {
            margin: 0;
        }
        .i {
            display: table-cell;
            width: 1%;
            float: none;
        }
        .day {
            display: block;
            color: #666;
            width: 2.4rem;
            height: 2.4rem;
            line-height: 2.3rem;
            margin: .5rem auto;
            border: 1px solid transparent;
            border-radius: 50%;
            &.selectable {
                color: #ff5400;
                background: transparent;
            }
            &.disabled {
                color: #ccc;
            }
            &.active {
                color: #fff;
                background-image: linear-gradient(-45deg, #FF5400 0%, #FF9345 100%);
                box-shadow: 0 2px 4px 0 rgba(255,84,0,0.50);
            }
            &.current {
                background-color: #eee;
            }

        }
    }
}
