#city.page {
  padding-top: 0;
}
#city .header {
  text-align: center;
  position: relative;
  font-size: 1.6rem;
  padding: 1.3rem;
  color: #333333;
}
#city .header .icon-angle-left {
  position: absolute;
  left: 1rem;
  padding: 0 1rem 0 0.7rem;
  top: 1.2rem;
  font-size: 20px;
  color: #999999;
}
#city .location {
  border-top: 1px solid #f4f4f4;
  font-size: 1.4rem;
  color: #999999;
  padding: 1rem 1.7rem;
}
#city .location .city--name {
  color: #333333;
}
#city .group .group__title {
  font-size: 1.4rem;
  padding: 1.5rem 1.7rem;
  background: #f3f3f3;
  margin: 0;
  color: #999999;
  text-transform: uppercase;
}
#city .group .group__list {
  margin: 0;
  padding: 0 0 0 1.7rem;
  list-style: none;
  color: #666666;
}
#city .group .group__item {
  font-size: 1.2rem;
  padding: 1.7rem 0;
  background: #fff;
  border-bottom: 1px solid #dedede;
}
#city .group .group__item:last-child {
  border-bottom: 0;
}

